In [76]:
import pandas as pd
import numpy as np
from CurrencyConverter import converter

import warnings
warnings.filterwarnings('ignore')

In [77]:
import pandas as pd
import sqlalchemy

Server = "localhost"
Database = "Turbo_AZ"
Driver = "ODBC Driver 17 for SQL Server" # in order to get this info, click Win + S and write 'odbc', then open drivers menu and scroll down
engine = sqlalchemy.create_engine(f'mssql://@{Server}/{Database}?driver={Driver}')

In [78]:
tbl = pd.read_sql('SELECT * FROM Cars', engine)
tbl

,ID,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price
0,1,Nissan Kicks,2021,1.6,Benzin,136.0,Variator,Ön,57000,29 900 AZN
1,2,Lynk & Co 01,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,34 900 USD
2,3,FAW Tiger VN,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35 500 AZN
3,4,VGV U75 Plus,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39 800 AZN
4,5,Changan Qiyuan A06,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,20 950 USD
...,...,...,...,...,...,...,...,...,...,...
14935,14936,Toyota Corolla,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14 400 AZN
14936,14937,BMW 735,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9 400 AZN
14937,14938,Toyota Land Cruiser Prado,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35 900 AZN
14938,14939,Hyundai Elantra,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20 700 AZN
14939,14940,Kia Cerato,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21 700 AZN

In [79]:
#tbl.to_csv('cars.csv', index = False)

In [80]:
df = tbl.drop(['ID'], axis = 'columns')
df

,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price
0,Nissan Kicks,2021,1.6,Benzin,136.0,Variator,Ön,57000,29 900 AZN
1,Lynk & Co 01,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,34 900 USD
2,FAW Tiger VN,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35 500 AZN
3,VGV U75 Plus,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39 800 AZN
4,Changan Qiyuan A06,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,20 950 USD
...,...,...,...,...,...,...,...,...,...
14935,Toyota Corolla,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14 400 AZN
14936,BMW 735,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9 400 AZN
14937,Toyota Land Cruiser Prado,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35 900 AZN
14938,Hyundai Elantra,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20 700 AZN
14939,Kia Cerato,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21 700 AZN

In [81]:
USD_AZN = converter(1, 'USD', 'AZN')
EUR_AZN = converter(1, 'EUR', 'AZN')
def convert_to_AZN(x): 
    x = x.replace(' ', '')
    amount = x[:-3]
    if x.endswith('USD'):
        return float(amount) * USD_AZN
    elif x.endswith('EUR'):
        return  float(amount) * EUR_AZN
    return float(amount)

In [82]:
df1 = df.dropna()
df1

,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price
0,Nissan Kicks,2021,1.6,Benzin,136.0,Variator,Ön,57000,29 900 AZN
1,Lynk & Co 01,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,34 900 USD
2,FAW Tiger VN,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35 500 AZN
3,VGV U75 Plus,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39 800 AZN
4,Changan Qiyuan A06,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,20 950 USD
...,...,...,...,...,...,...,...,...,...
14935,Toyota Corolla,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14 400 AZN
14936,BMW 735,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9 400 AZN
14937,Toyota Land Cruiser Prado,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35 900 AZN
14938,Hyundai Elantra,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20 700 AZN
14939,Kia Cerato,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21 700 AZN

In [83]:
df1['Price_azn'] = df1['Price'].apply(convert_to_AZN)
df1

,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price,Price_azn
0,Nissan Kicks,2021,1.6,Benzin,136.0,Variator,Ön,57000,29 900 AZN,29900.0
1,Lynk & Co 01,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,34 900 USD,59330.0
2,FAW Tiger VN,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35 500 AZN,35500.0
3,VGV U75 Plus,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39 800 AZN,39800.0
4,Changan Qiyuan A06,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,20 950 USD,35615.0
...,...,...,...,...,...,...,...,...,...,...
14935,Toyota Corolla,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14 400 AZN,14400.0
14936,BMW 735,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9 400 AZN,9400.0
14937,Toyota Land Cruiser Prado,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35 900 AZN,35900.0
14938,Hyundai Elantra,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20 700 AZN,20700.0
14939,Kia Cerato,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21 700 AZN,21700.0

In [84]:
df1.drop(['Price'], axis = 'columns', inplace = True)

In [85]:
df1.describe()

               Year  Engine_Volume   Horse_Power       Mileage      Price_azn
count  14460.000000    14460.00000  14460.000000  1.446000e+04   14460.000000
mean    2013.045989        2.28823    194.625795  1.558248e+05   41671.642751
std        7.930705        1.22993    101.552492  1.386670e+05   50522.202280
min     1954.000000        0.10000     10.000000  0.000000e+00     900.000000
25%     2009.000000        1.60000    126.000000  5.989125e+04   15800.000000
50%     2014.000000        2.00000    175.000000  1.400000e+05   27500.000000
75%     2018.000000        2.50000    245.000000  2.180000e+05   45900.000000
max     2024.000000       15.00000   1700.000000  2.525000e+06  635010.000000

In [86]:
name_stats = df1.groupby('Model')['Model'].agg('count').sort_values(ascending = False)
name_stats

Model
Kia Sorento                559
Hyundai Elantra            518
Hyundai Santa Fe           395
Land Rover Range Rover     381
Hyundai Sonata             310
                          ...
Lexus RX 330                 1
Lexus RX 200t                1
Lexus RC 200t                1
Lexus NX 350h                1
LADA (VAZ) Granta Sport      1
Name: Model, Length: 939, dtype: int64

In [87]:
name_stats_less_than_5 = name_stats[name_stats < 5]
name_stats_less_than_5

Model
Mercedes G 55 AMG                4
Mercedes GL 450                  4
Mercedes GL 350 4MATIC           4
Mercedes 811 D                   4
Mercedes-Maybach S 580 4MATIC    4
                                ..
Lexus RX 330                     1
Lexus RX 200t                    1
Lexus RC 200t                    1
Lexus NX 350h                    1
LADA (VAZ) Granta Sport          1
Name: Model, Length: 526, dtype: int64

In [88]:
df1['Model'] = df1['Model'].apply(lambda x: 'other' if x in name_stats_less_than_5 else x)
df1[df1['Model'] == 'other']

,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price_azn
29,other,2013,4.0,Benzin,560.0,Avtomat,Tam,88888,69530.0
37,other,2023,1.6,Benzin,110.0,Avtomat,Ön,0,42900.0
44,other,2019,2.4,Benzin,100.0,Mexaniki,Arxa,75000,28500.0
77,other,2023,1.5,Hibrid,245.0,Avtomat,Ön,0,43900.0
97,other,2014,2.0,Dizel,245.0,Avtomat,Arxa,103000,49300.0
...,...,...,...,...,...,...,...,...,...
14880,other,2004,2.9,Dizel,163.0,Avtomat,Tam,168000,16500.0
14893,other,2012,4.6,Dizel,115.0,Mexaniki,Arxa,66465,31500.0
14901,other,2008,2.2,Dizel,100.0,Mexaniki,Arxa,256890,18400.0
14926,other,2015,2.0,Benzin,245.0,Avtomat,Tam,112000,38930.0
14936,other,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9400.0

In [89]:
df1

,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price_azn
0,Nissan Kicks,2021,1.6,Benzin,136.0,Variator,Ön,57000,29900.0
1,Lynk & Co 01,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,59330.0
2,FAW Tiger VN,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35500.0
3,VGV U75 Plus,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39800.0
4,Changan Qiyuan A06,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,35615.0
...,...,...,...,...,...,...,...,...,...
14935,Toyota Corolla,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14400.0
14936,other,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9400.0
14937,Toyota Land Cruiser Prado,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35900.0
14938,Hyundai Elantra,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20700.0
14939,Kia Cerato,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21700.0

In [90]:
df2 = pd.get_dummies(data = df1, columns = ['Model'])
df2

,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price_azn,Model_Alfa Romeo Giulia,Model_Alfa Romeo Stelvio,...,Model_Volkswagen Tiguan,Model_Volkswagen Touareg,Model_Volkswagen Transporter,Model_Volvo XC60,Model_Volvo XC90,Model_Voyah Dream,Model_Voyah Free,Model_Yamaha R15 V4,Model_ZX Auto Terralord,Model_other
0,2021,1.6,Benzin,136.0,Variator,Ön,57000,29900.0,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,59330.0,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35500.0,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39800.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,35615.0,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14935,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14400.0,False,False,...,False,False,False,False,False,False,False,False,False,False
14936,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9400.0,False,False,...,False,False,False,False,False,False,False,False,False,True
14937,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35900.0,False,False,...,False,False,False,False,False,False,False,False,False,False
14938,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20700.0,False,False,...,False,False,False,False,False,False,False,False,False,False
14939,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21700.0,False,False,...,False,False,False,False,False,False,False,False,False,False

In [91]:
df3 = df2.drop(['Model_other'], axis = 'columns')
df3

,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price_azn,Model_Alfa Romeo Giulia,Model_Alfa Romeo Stelvio,...,Model_Volkswagen Polo,Model_Volkswagen Tiguan,Model_Volkswagen Touareg,Model_Volkswagen Transporter,Model_Volvo XC60,Model_Volvo XC90,Model_Voyah Dream,Model_Voyah Free,Model_Yamaha R15 V4,Model_ZX Auto Terralord
0,2021,1.6,Benzin,136.0,Variator,Ön,57000,29900.0,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,59330.0,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35500.0,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39800.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,35615.0,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14935,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14400.0,False,False,...,False,False,False,False,False,False,False,False,False,False
14936,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9400.0,False,False,...,False,False,False,False,False,False,False,False,False,False
14937,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35900.0,False,False,...,False,False,False,False,False,False,False,False,False,False
14938,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20700.0,False,False,...,False,False,False,False,False,False,False,False,False,False
14939,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21700.0,False,False,...,False,False,False,False,False,False,False,False,False,False

In [92]:
cols_to_dummy = ['Engine_Type', 'Gearbox', 'Transmitter']
df4 = pd.get_dummies(data = df3, columns = cols_to_dummy, drop_first = True)
df4

,Year,Engine_Volume,Horse_Power,Mileage,Price_azn,Model_Alfa Romeo Giulia,Model_Alfa Romeo Stelvio,Model_Audi A4,Model_Audi A5,Model_Audi A6,...,Engine_Type_Elektro,Engine_Type_Hibrid,Engine_Type_Plug-in Hibrid,Engine_Type_Qaz,Gearbox_Mexaniki,Gearbox_Reduktor,Gearbox_Robot,Gearbox_Variator,Transmitter_Tam,Transmitter_Ön
0,2021,1.6,136.0,57000,29900.0,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
1,2024,1.5,262.0,0,59330.0,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
2,2023,2.3,118.0,0,35500.0,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,2024,2.0,224.0,0,39800.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,2024,1.5,335.0,0,35615.0,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14935,2006,1.4,90.0,222000,14400.0,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
14936,1996,3.5,235.0,240000,9400.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14937,2008,2.7,163.0,260000,35900.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
14938,2015,1.8,150.0,78000,20700.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
14939,2015,1.8,149.0,98000,21700.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [93]:
df4.replace({True : 1, False : 0}, inplace = True)
df4

,Year,Engine_Volume,Horse_Power,Mileage,Price_azn,Model_Alfa Romeo Giulia,Model_Alfa Romeo Stelvio,Model_Audi A4,Model_Audi A5,Model_Audi A6,...,Engine_Type_Elektro,Engine_Type_Hibrid,Engine_Type_Plug-in Hibrid,Engine_Type_Qaz,Gearbox_Mexaniki,Gearbox_Reduktor,Gearbox_Robot,Gearbox_Variator,Transmitter_Tam,Transmitter_Ön
0,2021,1.6,136.0,57000,29900.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,2024,1.5,262.0,0,59330.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,2023,2.3,118.0,0,35500.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,2024,2.0,224.0,0,39800.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2024,1.5,335.0,0,35615.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14935,2006,1.4,90.0,222000,14400.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
14936,1996,3.5,235.0,240000,9400.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14937,2008,2.7,163.0,260000,35900.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14938,2015,1.8,150.0,78000,20700.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14939,2015,1.8,149.0,98000,21700.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [94]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols_to_scale = ['Year', 'Engine_Volume', 'Horse_Power', 'Mileage']
df4[cols_to_scale] = scaler.fit_transform(df4[cols_to_scale])
df4

,Year,Engine_Volume,Horse_Power,Mileage,Price_azn,Model_Alfa Romeo Giulia,Model_Alfa Romeo Stelvio,Model_Audi A4,Model_Audi A5,Model_Audi A6,...,Engine_Type_Elektro,Engine_Type_Hibrid,Engine_Type_Plug-in Hibrid,Engine_Type_Qaz,Gearbox_Mexaniki,Gearbox_Reduktor,Gearbox_Robot,Gearbox_Variator,Transmitter_Tam,Transmitter_Ön
0,0.957143,0.100671,0.074556,0.022574,29900.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,1.000000,0.093960,0.149112,0.000000,59330.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0.985714,0.147651,0.063905,0.000000,35500.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,1.000000,0.127517,0.126627,0.000000,39800.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1.000000,0.093960,0.192308,0.000000,35615.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14935,0.742857,0.087248,0.047337,0.087921,14400.0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
14936,0.600000,0.228188,0.133136,0.095050,9400.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14937,0.771429,0.174497,0.090533,0.102970,35900.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
14938,0.871429,0.114094,0.082840,0.030891,20700.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
14939,0.871429,0.114094,0.082249,0.038812,21700.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [ ]:
x = df4.drop(['Price_azn'], axis = 'columns')
y =  df4['Price_azn']

In [ ]:
from sklearn.preprocessing import Polynomial

In [95]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [96]:
from sklearn.linear_model import LinearRegression
clf_linear_reg = LinearRegression()
clf_linear_reg.fit(x_train, y_train)
clf_linear_reg.score(x_test, y_test)

0.7509554968067964

In [97]:
from sklearn.linear_model import Lasso
clf_lasso = Lasso()
clf_lasso.fit(x_train, y_train)
clf_lasso.score(x_test, y_test)

0.7513241100756871

In [98]:
from sklearn.linear_model import Ridge
clf_ridge = Ridge()
clf_ridge.fit(x_train, y_train)
clf_ridge.score(x_test, y_test)

0.7498239486566192

In [101]:
from sklearn.ensemble import RandomForestRegressor
clf_rnd_forest = RandomForestRegressor(n_estimators = 200, random_state = 42)
clf_rnd_forest.fit(x_train, y_train)
clf_rnd_forest.score(x_test, y_test)

0.9610145465630424