In [7]:
import pandas as pd
import numpy as np
from CurrencyConverter import converter

import warnings
warnings.filterwarnings('ignore')

In [8]:
import pandas as pd
import sqlalchemy

Server = "localhost"
Database = "Turbo_AZ"
Driver = "ODBC Driver 17 for SQL Server" # in order to get this info, click Win + S and write 'odbc', then open drivers menu and scroll down
engine = sqlalchemy.create_engine(f'mssql://@{Server}/{Database}?driver={Driver}')

In [9]:
tbl = pd.read_sql('SELECT * FROM Cars', engine)
tbl

,ID,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price
0,1,Nissan Kicks,2021,1.6,Benzin,136.0,Variator,Ön,57000,29 900 AZN
1,2,Lynk & Co 01,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,34 900 USD
2,3,FAW Tiger VN,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35 500 AZN
3,4,VGV U75 Plus,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39 800 AZN
4,5,Changan Qiyuan A06,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,20 950 USD
...,...,...,...,...,...,...,...,...,...,...
14935,14936,Toyota Corolla,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14 400 AZN
14936,14937,BMW 735,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9 400 AZN
14937,14938,Toyota Land Cruiser Prado,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35 900 AZN
14938,14939,Hyundai Elantra,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20 700 AZN
14939,14940,Kia Cerato,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21 700 AZN

In [10]:
df = tbl.drop(['ID'], axis = 'columns')
df

,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price
0,Nissan Kicks,2021,1.6,Benzin,136.0,Variator,Ön,57000,29 900 AZN
1,Lynk & Co 01,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,34 900 USD
2,FAW Tiger VN,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35 500 AZN
3,VGV U75 Plus,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39 800 AZN
4,Changan Qiyuan A06,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,20 950 USD
...,...,...,...,...,...,...,...,...,...
14935,Toyota Corolla,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14 400 AZN
14936,BMW 735,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9 400 AZN
14937,Toyota Land Cruiser Prado,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35 900 AZN
14938,Hyundai Elantra,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20 700 AZN
14939,Kia Cerato,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21 700 AZN

In [15]:
USD_AZN = converter(1, 'USD', 'AZN')
EUR_AZN = converter(1, 'EUR', 'AZN')
def convert_to_AZN(x): 
    x = x.replace(' ', '')
    amount = x[:-3]
    if x.endswith('USD'):
        return float(amount) * USD_AZN
    elif x.endswith('EUR'):
        return  float(amount) * EUR_AZN
    return float(amount)

In [22]:
df['Price_azn'] = df['Price'].apply(convert_to_AZN)
df[df['Model'] == 'Maserati Grecale']

,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price,Price_azn
197,Maserati Grecale,2024,2.0,Hibrid,330.0,Avtomat,Tam,0,87 900 EUR,160857.0
1225,Maserati Grecale,2024,2.0,Hibrid,330.0,Avtomat,Tam,0,87 900 EUR,160857.0
3891,Maserati Grecale,2024,2.0,Hibrid,300.0,Avtomat,Tam,0,72 400 EUR,132492.0
5187,Maserati Grecale,2024,2.0,Hibrid,330.0,Avtomat,Tam,0,87 900 EUR,160857.0
5580,Maserati Grecale,2024,2.0,Hibrid,300.0,Avtomat,Tam,0,72 400 EUR,132492.0
8731,Maserati Grecale,2024,2.0,Hibrid,300.0,Avtomat,Tam,0,72 400 EUR,132492.0
9649,Maserati Grecale,2024,2.0,Hibrid,330.0,Avtomat,Tam,0,87 900 EUR,160857.0
10440,Maserati Grecale,2024,2.0,Hibrid,330.0,Avtomat,Tam,0,87 900 EUR,160857.0
11199,Maserati Grecale,2024,2.0,Hibrid,300.0,Avtomat,Tam,0,72 400 EUR,132492.0
12528,Maserati Grecale,2024,2.0,Hibrid,330.0,Avtomat,Tam,0,78 200 EUR,143106.0
13284,Maserati Grecale,2024,2.0,Hibrid,330.0,Avtomat,Tam,0,87 900 EUR,160857.0
14833,Maserati Grecale,2024,2.0,Hibrid,330.0,Avtomat,Tam,0,87 900 EUR,160857.0

In [23]:
df1 = df.dropna()
df1

,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price,Price_azn
0,Nissan Kicks,2021,1.6,Benzin,136.0,Variator,Ön,57000,29 900 AZN,29900.0
1,Lynk & Co 01,2024,1.5,Plug-in Hibrid,262.0,Avtomat,Ön,0,34 900 USD,59330.0
2,FAW Tiger VN,2023,2.3,Dizel,118.0,Mexaniki,Arxa,0,35 500 AZN,35500.0
3,VGV U75 Plus,2024,2.0,Benzin,224.0,Avtomat,Ön,0,39 800 AZN,39800.0
4,Changan Qiyuan A06,2024,1.5,Plug-in Hibrid,335.0,Avtomat,Ön,0,20 950 USD,35615.0
...,...,...,...,...,...,...,...,...,...,...
14935,Toyota Corolla,2006,1.4,Dizel,90.0,Mexaniki,Ön,222000,14 400 AZN,14400.0
14936,BMW 735,1996,3.5,Benzin,235.0,Avtomat,Arxa,240000,9 400 AZN,9400.0
14937,Toyota Land Cruiser Prado,2008,2.7,Benzin,163.0,Avtomat,Tam,260000,35 900 AZN,35900.0
14938,Hyundai Elantra,2015,1.8,Benzin,150.0,Avtomat,Ön,78000,20 700 AZN,20700.0
14939,Kia Cerato,2015,1.8,Benzin,149.0,Avtomat,Ön,98000,21 700 AZN,21700.0