In [6]:
import pandas as pd
import numpy as np
from CurrencyConverter import converter

import warnings
warnings.filterwarnings('ignore')

In [7]:
import pandas as pd
import sqlalchemy

Server = "localhost"
Database = "Turbo_AZ"
Driver = "ODBC Driver 17 for SQL Server" # in order to get this info, click Win + S and write 'odbc', then open drivers menu and scroll down
engine = sqlalchemy.create_engine(f'mssql://@{Server}/{Database}?driver={Driver}')

In [9]:
tbl = pd.read_sql('SELECT * FROM Cars', engine)
tbl

,ID,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price
0,1,BMW X7,2023,3.0,Benzin,340.0,Avtomat,Tam,0,133 000 EUR
1,2,ZEEKR 001,2023,0.0,Elektro,544.0,Reduktor,Tam,0,56 100 USD
2,3,Land Rover RR Sport,2019,3.0,Benzin,360.0,Avtomat,Arxa,82000,65 700 USD
3,4,XPeng P7,2023,0.0,Elektro,473.0,Reduktor,Tam,0,53 900 USD
4,5,Mitsubishi Mirage,2016,1.2,Benzin,78.0,Avtomat,Ön,50517,13 200 AZN
5,6,Chevrolet Cruze,2014,1.4,Benzin,140.0,Avtomat,Ön,153000,14 000 AZN
6,7,Kia Sorento,2014,2.2,Dizel,202.0,Avtomat,Tam,168091,36 300 AZN
7,8,Chevrolet Cruze,2013,1.4,Benzin,140.0,Avtomat,Ön,321869,11 700 AZN
8,9,Toyota Land Cruiser Prado,2014,2.7,Benzin,163.0,Avtomat,Tam,80000,33 900 USD
9,10,Mercedes E 280,1998,2.8,Benzin,204.0,Avtomat,Arxa,396833,9 800 AZN
10,11,Mercedes S 350 d 4MATIC,2018,2.9,Dizel,249.0,Avtomat,Tam,94000,73 500 USD
11,12,Hyundai Elantra,2017,2.0,Benzin,150.0,Avtomat,Ön,78000,24 000 AZN
12,13,BMW 520,2014,2.0,Dizel,190.0,Avtomat,Arxa,200000,35 000 AZN
13,14,Kia Optima,2013,2.0,Benzin,274.0,Avtomat,Ön,193121,22 400 AZN
14,15,Mercedes E 250,2011,1.8,Benzin,204.0,Avtomat,Arxa,168000,31 300 AZN
15,16,Mitsubishi Outlander,2015,3.0,Benzin,230.0,Avtomat,Tam,168163,24 000 USD
16,17,Toyota Prius V,2013,1.8,Hibrid,99.0,Variator,Ön,172000,20 000 AZN
17,18,Opel Astra,2006,1.4,Benzin,90.0,Mexaniki,Ön,259000,11 200 AZN
18,19,BMW 328,1999,2.8,Benzin,193.0,Avtomat,Arxa,465865,9 400 AZN
19,20,Hyundai Tucson,2018,2.0,Benzin,150.0,Avtomat,Ön,130000,29 500 AZN
20,21,Lexus LX 570,2015,5.7,Benzin,383.0,Avtomat,Tam,70500,72 000 USD
21,22,Toyota Prius,2005,1.5,Hibrid,76.0,Variator,Ön,299000,9 500 AZN
22,23,Opel Astra,1998,1.8,Benzin,125.0,Avtomat,Ön,290000,8 900 AZN
23,24,Ford Transit,1996,2.5,Dizel,76.0,Mexaniki,Arxa,56285,12 500 AZN
24,25,BMW 430,2021,2.0,Benzin,258.0,Avtomat,Arxa,6500,56 500 USD
25,26,Toyota Prius,2007,1.5,Hibrid,76.0,Variator,Ön,300000,10 000 AZN
26,27,Toyota Land Cruiser,2013,4.0,Benzin,282.0,Avtomat,Tam,100000,43 000 USD
27,28,Hyundai i40,2012,1.7,Dizel,136.0,Avtomat,Ön,87000,22 700 AZN
28,29,Mercedes C 240,1998,2.4,Benzin,170.0,Avtomat,Arxa,343000,13 000 AZN
29,30,Mercedes Atego 818,2010,4.3,Dizel,177.0,Mexaniki,Arxa,329053,46 500 AZN
30,31,Kia Sportage,2016,2.0,Dizel,185.0,Avtomat,Ön,145000,32 300 AZN
31,32,LADA (VAZ) 2107,1998,1.6,Benzin,75.0,Mexaniki,Arxa,56811,3 800 AZN
32,33,BMW X5,2014,3.0,Benzin,306.0,Avtomat,Tam,121000,35 000 USD
33,34,Kia K7,2016,2.2,Dizel,202.0,Avtomat,Ön,149000,34 800 AZN
34,35,MAN TGX 18.440,2009,13.0,Dizel,440.0,Mexaniki,Arxa,1200000,42 000 AZN
35,36,Changan CS 95,2023,2.0,Benzin,233.0,Avtomat,Tam,9500,65 000 AZN

In [10]:
df = tbl.drop(['ID'], axis = 'columns')
df

,Model,Year,Engine_Volume,Engine_Type,Horse_Power,Gearbox,Transmitter,Mileage,Price
0,BMW X7,2023,3.0,Benzin,340.0,Avtomat,Tam,0,133 000 EUR
1,ZEEKR 001,2023,0.0,Elektro,544.0,Reduktor,Tam,0,56 100 USD
2,Land Rover RR Sport,2019,3.0,Benzin,360.0,Avtomat,Arxa,82000,65 700 USD
3,XPeng P7,2023,0.0,Elektro,473.0,Reduktor,Tam,0,53 900 USD
4,Mitsubishi Mirage,2016,1.2,Benzin,78.0,Avtomat,Ön,50517,13 200 AZN
5,Chevrolet Cruze,2014,1.4,Benzin,140.0,Avtomat,Ön,153000,14 000 AZN
6,Kia Sorento,2014,2.2,Dizel,202.0,Avtomat,Tam,168091,36 300 AZN
7,Chevrolet Cruze,2013,1.4,Benzin,140.0,Avtomat,Ön,321869,11 700 AZN
8,Toyota Land Cruiser Prado,2014,2.7,Benzin,163.0,Avtomat,Tam,80000,33 900 USD
9,Mercedes E 280,1998,2.8,Benzin,204.0,Avtomat,Arxa,396833,9 800 AZN
10,Mercedes S 350 d 4MATIC,2018,2.9,Dizel,249.0,Avtomat,Tam,94000,73 500 USD
11,Hyundai Elantra,2017,2.0,Benzin,150.0,Avtomat,Ön,78000,24 000 AZN
12,BMW 520,2014,2.0,Dizel,190.0,Avtomat,Arxa,200000,35 000 AZN
13,Kia Optima,2013,2.0,Benzin,274.0,Avtomat,Ön,193121,22 400 AZN
14,Mercedes E 250,2011,1.8,Benzin,204.0,Avtomat,Arxa,168000,31 300 AZN
15,Mitsubishi Outlander,2015,3.0,Benzin,230.0,Avtomat,Tam,168163,24 000 USD
16,Toyota Prius V,2013,1.8,Hibrid,99.0,Variator,Ön,172000,20 000 AZN
17,Opel Astra,2006,1.4,Benzin,90.0,Mexaniki,Ön,259000,11 200 AZN
18,BMW 328,1999,2.8,Benzin,193.0,Avtomat,Arxa,465865,9 400 AZN
19,Hyundai Tucson,2018,2.0,Benzin,150.0,Avtomat,Ön,130000,29 500 AZN
20,Lexus LX 570,2015,5.7,Benzin,383.0,Avtomat,Tam,70500,72 000 USD
21,Toyota Prius,2005,1.5,Hibrid,76.0,Variator,Ön,299000,9 500 AZN
22,Opel Astra,1998,1.8,Benzin,125.0,Avtomat,Ön,290000,8 900 AZN
23,Ford Transit,1996,2.5,Dizel,76.0,Mexaniki,Arxa,56285,12 500 AZN
24,BMW 430,2021,2.0,Benzin,258.0,Avtomat,Arxa,6500,56 500 USD
25,Toyota Prius,2007,1.5,Hibrid,76.0,Variator,Ön,300000,10 000 AZN
26,Toyota Land Cruiser,2013,4.0,Benzin,282.0,Avtomat,Tam,100000,43 000 USD
27,Hyundai i40,2012,1.7,Dizel,136.0,Avtomat,Ön,87000,22 700 AZN
28,Mercedes C 240,1998,2.4,Benzin,170.0,Avtomat,Arxa,343000,13 000 AZN
29,Mercedes Atego 818,2010,4.3,Dizel,177.0,Mexaniki,Arxa,329053,46 500 AZN
30,Kia Sportage,2016,2.0,Dizel,185.0,Avtomat,Ön,145000,32 300 AZN
31,LADA (VAZ) 2107,1998,1.6,Benzin,75.0,Mexaniki,Arxa,56811,3 800 AZN
32,BMW X5,2014,3.0,Benzin,306.0,Avtomat,Tam,121000,35 000 USD
33,Kia K7,2016,2.2,Dizel,202.0,Avtomat,Ön,149000,34 800 AZN
34,MAN TGX 18.440,2009,13.0,Dizel,440.0,Mexaniki,Arxa,1200000,42 000 AZN
35,Changan CS 95,2023,2.0,Benzin,233.0,Avtomat,Tam,9500,65 000 AZN

In [11]:
USD_AZN = converter(1, 'USD', 'AZN')
EUR_AZN = converter(1, 'EUR', 'AZN')
def convert_to_AZN(x): 
    amount = "".join(x[:-1].split()[0] + x[:-1].split()[1])
    if x.endswith('USD'):
        return float(amount) * USD_AZN
    elif x.endswith('EUR'):
        return  float(amount) * EUR_AZN
    return float("".join(x[:-3].split()[0] + x[:-3].split()[1]))

In [13]:
df['Price_azn'] = df['Price'].apply(convert_to_AZN)
df

                     Model  Year  Engine_Volume  Mileage      Price  Price_azn
0            Jaguar I-Pace  2023            NaN        0   107 900$   183430.0
1            Tesla Model Y  2021            NaN    66600    38 500$    65450.0
2           Hyundai Tucson  2023            1.6        0  51 500AZN    51500.0
3           Hyundai Sonata  2020            2.0    79800    27 900$    47430.0
4              Kia Sorento  2013            2.2   239659  34 300AZN    34300.0
...                    ...   ...            ...      ...        ...        ...
14926          Ford Fusion  2016            1.5   119600  20 400AZN    20400.0
14927      Hyundai Elantra  2014            1.6   285000  19 600AZN    19600.0
14928       Hyundai Sonata  2016            2.0   219000  25 900AZN    25900.0
14929       Toyota Corolla  2015            1.5   965000  20 500AZN    20500.0
14930  Porsche Cayenne GTS  2013            4.8   170000    26 500$    45050.0

[14931 rows x 6 columns]

In [15]:
df1 = df.dropna()
df1

                     Model  Year  Engine_Volume  Mileage      Price  Price_azn
2           Hyundai Tucson  2023            1.6        0  51 500AZN    51500.0
3           Hyundai Sonata  2020            2.0    79800    27 900$    47430.0
4              Kia Sorento  2013            2.2   239659  34 300AZN    34300.0
5           Mercedes E 200  1990            2.0   500000   5 800AZN     5800.0
6           Toyota Corolla  2006            1.4   185000  15 200AZN    15200.0
...                    ...   ...            ...      ...        ...        ...
14926          Ford Fusion  2016            1.5   119600  20 400AZN    20400.0
14927      Hyundai Elantra  2014            1.6   285000  19 600AZN    19600.0
14928       Hyundai Sonata  2016            2.0   219000  25 900AZN    25900.0
14929       Toyota Corolla  2015            1.5   965000  20 500AZN    20500.0
14930  Porsche Cayenne GTS  2013            4.8   170000    26 500$    45050.0

[14469 rows x 6 columns]